body {
  background-color: #85A5D4;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.info {
  color: #AAA8A9;
  font-size: 14px;
  padding: 0 30px;
  max-height: 290px;
}

.social_network, a {
  color: #6670AD;
}

a {
  font-size: 14px;
  text-decoration: none;
}

.social_network {
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
}

.contacts {
  position: relative;
  margin: 5% auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 20px;
  width: 80%;
  max-width: 910px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 20px;
  height: auto;
  min-width: 200px;
}

.item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  transition: ease-in 0.3s;
  margin-right: 20px;
  text-align: center;
  max-height: 500px;
}

.item:nth-last-of-type(1) {
  margin-right: 0;
}

.item:hover {
  background-color: #F6F6F6;
}

@media all and (max-width: 1055px) {
  .contacts {
    flex-direction: column;
  }
  .item {
    flex-direction: row;
    margin-right: 0;
  }
  img {
    width: 50%;
  }
  .text {
    width: 100%
  }
}

@media all and (max-width: 757px) {
  .item {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 550px;
  }
  .info {
    max-height: 400px;
  }
}
